body {
    margin:0px;
    background-color: #ffffff;
}

/*HEADER*/

#Header {
    padding:20px;
    background-color: #DC851F;
    height:50px;
    margin-bottom:0px;
}

#Profil_Picture {
    margin-right:10px;
    margin-top:5px;
    width:40px;
    height:40px;
    border-radius: 20px;
}

#Header table {
    float: right;
    border-collapse: separate;
    border-spacing: 10px 0;
    height:50px;
}

.Menu_Selections {
    background-color: #DC851F;
    border-radius: 10px;
    padding:0px 20px 0px 20px;
}

#Header table a {
    text-decoration: none;
    user-select: none;
    color:black;
}

#Header table td:hover {
    filter: brightness(90%);
}

/*WELCOME*/

#Welcome_Page {
    background-color: #FFA737;
    margin-top:-30px;
    height:600px;
}

#Title {
    font-size: 150px;
    margin:30px;
}

/*
COLOR PALETTE
- Orange Peel : FFA737
- Fulvous : DC851F
- Field Drab : 7E5920
- Drab dark brown : 45462A
- Jet : 343330
*/